In [71]:
#데이터 전처리
import numpy as np
import pandas as pd

#머신러닝 패키지 및 평가
import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

#정규화
from sklearn.preprocessing import StandardScaler

#데이터 시각화
import seaborn as sns
import matplotlib.pyplot as plt

In [308]:
import pandas as pd
df= pd.read_csv('C:/Users/saw90/OneDrive/바탕 화면/kospi/kospi_train.csv',encoding='latin1')  # 코스피(종가,시가,고가,저가,거래량)
df_nasdaq=pd.read_csv('C:/Users/saw90/OneDrive/바탕 화면/kospi/nasdaq_train.csv',engine='python') # 나스닥
df_ssec=pd.read_csv('C:/Users/saw90/OneDrive/바탕 화면/kospi/ssec_train.csv',engine='python') # 상해종합지수(SSE)
df_nikkei=pd.read_csv('C:/Users/saw90/OneDrive/바탕 화면/kospi/nikkei_train.csv',engine='python') # 니케이
df_kodex=pd.read_csv('C:/Users/saw90/OneDrive/바탕 화면/kospi/kodex_train.csv',engine='python') # KODEX 200(코스피 지수 etf)
df_tiger=pd.read_csv('C:/Users/saw90/OneDrive/바탕 화면/kospi/tiger_train.csv',engine='python') # TIGER 200(코스피 지수 etf)
df_USD=pd.read_csv('C:/Users/saw90/OneDrive/바탕 화면/kospi/USD_KRW_train.csv',engine='python') # 원 달러 환율
df_price=pd.read_csv('C:/Users/saw90/OneDrive/바탕 화면/kospi/물가지수_training.csv',encoding='latin1') # 소비자 물가지수

In [211]:
df.columns=['일자','종가','대비','등락률','시가','고가','저가','거래량','거래대금','상장시가총액']
df['내일종가']=df['종가'].shift(1) # y 생성

In [212]:
df_kospi=pd.DataFrame({'일자':df['일자'],
                             '등락률':df['등락률'],
                             '종가 대비 시가':df['시가']/df['종가'],
                             '종가 대비 고가':df['고가']/df['종가'],
                             '종가 대비 저가':df['저가']/df['종가'],
                             '거래량':df['거래량'],
                             '종가 대비 내일종가':df['내일종가']/df['종가']}) #데이터 변환

In [213]:
df_kospi['등락']=np.where(df_kospi['종가 대비 내일종가']>=1,1,0)

from datetime import date
df_kospi['일자']=pd.to_datetime(df_kospi['일자'],infer_datetime_format= True) #날짜 datetime화

In [317]:
df1=pd.DataFrame({'일자':df_nasdaq['날짜'],
                 '나스닥종가':df_nasdaq['종가'],
                 '나스닥거래량(M)':df_nasdaq['거래량'],
                 '나스닥변동%':df_nasdaq['변동 %']})

In [239]:
for i in range(0,len(df1)):                                                               
    df1['나스닥종가'][i]=df1['나스닥종가'][i].replace(',', '') # ,제거
for i in range(0,len(df1)):
    df1['나스닥변동%'][i]=df1['나스닥변동%'][i][:-1] # % 제거
for i in range(0,len(df1)):
    if df1['나스닥거래량(M)'][i][-1]=='B':
        df1['나스닥거래량(M)'][i]=float(df1['나스닥거래량(M)'][i][:-1])*1000 # B 단위 M으로 변환
    elif df1['나스닥거래량(M)'][i][-1]=='K':
        df1['나스닥거래량(M)'][i]=float(df1['나스닥거래량(M)'][i][:-1])*0.001 # K 단위 M으로 변환
    elif df1['나스닥거래량(M)'][i][-1]=='M':
        df1['나스닥거래량(M)'][i]=float(df1['나스닥거래량(M)'][i][:-1])
    else:
        print('예외가 발생했습니다.')

In [244]:
df2=pd.DataFrame({'일자':df_ssec['날짜'],
                 'SSE종가':df_ssec['종가'],
                 'SSE거래량(M)':df_ssec['거래량'],
                 'SSE변동%':df_ssec['변동 %']})

In [245]:
for i in range(0,len(df2)):                                                               
    df2['SSE종가'][i]=df2['SSE종가'][i].replace(',', '') # ,제거
for i in range(0,len(df2)):
    df2['SSE변동%'][i]=df2['SSE변동%'][i][:-1] # % 제거
for i in range(0,len(df2)):
    if df2['SSE거래량(M)'][i][-1]=='B':
        df2['SSE거래량(M)'][i]=float(df2['SSE거래량(M)'][i][:-1])*1000 # B 단위 M으로 변환
    elif df2['SSE거래량(M)'][i][-1]=='K':
        df2['SSE거래량(M)'][i]=float(df2['SSE거래량(M)'][i][:-1])*0.001 # K 단위 M으로 변환
    elif df2['SSE거래량(M)'][i][-1]=='M':
        df2['SSE거래량(M)'][i]=float(df2['SSE거래량(M)'][i][:-1])
    else:
        print('예외가 발생했습니다.')

In [247]:
df3=pd.DataFrame({'일자':df_nikkei['날짜'],
                 '니케이종가':df_nikkei['종가'],
                 '니케이거래량(M)':df_nikkei['거래량'],
                 '니케이변동%':df_nikkei['변동 %']})   #NIKKEI

In [248]:
for i in range(0,len(df3)):                                                               
    df3['니케이종가'][i]=df3['니케이종가'][i].replace(',', '') # ,제거
for i in range(0,len(df3)):
    df3['니케이변동%'][i]=df3['니케이변동%'][i][:-1] # % 제거
for i in range(0,len(df3)):
    if df3['니케이거래량(M)'][i][-1]=='B':
        df3['니케이거래량(M)'][i]=float(df3['니케이거래량(M)'][i][:-1])*1000 # B 단위 M으로 변환
    elif df3['니케이거래량(M)'][i][-1]=='K':
        df3['니케이거래량(M)'][i]=float(df3['니케이거래량(M)'][i][:-1])*0.001 # K 단위 M으로 변환
    elif df3['니케이거래량(M)'][i][-1]=='M':
        df3['니케이거래량(M)'][i]=float(df3['니케이거래량(M)'][i][:-1])
    else:
        print('예외가 발생했습니다.')

In [327]:
df4=pd.DataFrame({'일자':df_kodex['날짜'],
                 'KODEX200종가':df_kodex['종가'],
                 'KODEX200거래량(M)':df_kodex['거래량'],
                 'KODEX200변동%':df_kodex['변동 %']})

In [328]:
idx=[]
for i in range(0,len(df4)):                                                               
    df4['KODEX200종가'][i]=df4['KODEX200종가'][i].replace(',', '') # ,제거
for i in range(0,len(df4)):
    df4['KODEX200변동%'][i]=df4['KODEX200변동%'][i][:-1] # % 제거
for i in range(0,len(df4)):
    if df4['KODEX200거래량(M)'][i][-1]=='B':
        df4['KODEX200거래량(M)'][i]=float(df4['KODEX200거래량(M)'][i][:-1])*1000 # B 단위 M으로 변환
    elif df4['KODEX200거래량(M)'][i][-1]=='K':
        df4['KODEX200거래량(M)'][i]=float(df4['KODEX200거래량(M)'][i][:-1])*0.001 # K 단위 M으로 변환
    elif df4['KODEX200거래량(M)'][i][-1]=='M':
        df4['KODEX200거래량(M)'][i]=float(df4['KODEX200거래량(M)'][i][:-1])
    else:
        print('예외가 발생했습니다.',i)
        idx.append(i)

예외가 발생했습니다. 10
예외가 발생했습니다. 176
예외가 발생했습니다. 181
예외가 발생했습니다. 188
예외가 발생했습니다. 194
예외가 발생했습니다. 205
예외가 발생했습니다. 216
예외가 발생했습니다. 219
예외가 발생했습니다. 232
예외가 발생했습니다. 243
예외가 발생했습니다. 249
예외가 발생했습니다. 255
예외가 발생했습니다. 261
예외가 발생했습니다. 283
예외가 발생했습니다. 297
예외가 발생했습니다. 299
예외가 발생했습니다. 305
예외가 발생했습니다. 311
예외가 발생했습니다. 342
예외가 발생했습니다. 344
예외가 발생했습니다. 353
예외가 발생했습니다. 372
예외가 발생했습니다. 378
예외가 발생했습니다. 388
예외가 발생했습니다. 392
예외가 발생했습니다. 398
예외가 발생했습니다. 415
예외가 발생했습니다. 426
예외가 발생했습니다. 432

In [329]:
for i in range(0,len(df4)):                                                               
    df4['일자'][i]=df4['일자'][i].replace('년 ', '-')
    df4['일자'][i]=df4['일자'][i].replace('월 ', '-')
    df4['일자'][i]=df4['일자'][i].replace('일', '')

In [298]:
df4.drop(idx , inplace=True)

In [336]:
df5=pd.DataFrame({'일자':df_tiger['날짜'],
                 'TIGER200종가':df_tiger['종가'],
                 'TIGER200거래량(M)':df_tiger['거래량'],
                 'TIGER200변동%':df_tiger['변동 %']})

In [337]:
idx=[]
for i in range(0,len(df5)):                                                               
    df5['TIGER200종가'][i]=df5['TIGER200종가'][i].replace(',', '') # ,제거
for i in range(0,len(df5)):
    df5['TIGER200변동%'][i]=df5['TIGER200변동%'][i][:-1] # % 제거
for i in range(0,len(df5)):
    if df5['TIGER200거래량(M)'][i][-1]=='B':
        df5['TIGER200거래량(M)'][i]=float(df5['TIGER200거래량(M)'][i][:-1])*1000 # B 단위 M으로 변환
    elif df5['TIGER200거래량(M)'][i][-1]=='K':
        df5['TIGER200거래량(M)'][i]=float(df5['TIGER200거래량(M)'][i][:-1])*0.001 # K 단위 M으로 변환
    elif df5['TIGER200거래량(M)'][i][-1]=='M':
        df5['TIGER200거래량(M)'][i]=float(df5['TIGER200거래량(M)'][i][:-1])
    else:
        print('예외가 발생했습니다.',i)
        idx.append(i)

예외가 발생했습니다. 205

In [340]:
for i in range(0,len(df5)):                                                               
    df5['일자'][i]=df5['일자'][i].replace('년 ', '-')
    df5['일자'][i]=df5['일자'][i].replace('월 ', '-')
    df5['일자'][i]=df5['일자'][i].replace('일', '')

In [301]:
df5.drop(idx , inplace=True)

In [343]:
df6=pd.DataFrame({'일자':df_USD['날짜'],
                 'USD종가':df_USD['종가'],
                 'USD변동%':df_USD['변동 %']})

In [344]:
idx=[]
for i in range(0,len(df6)):                                                               
    df6['USD종가'][i]=df6['USD종가'][i].replace(',', '') # ,제거
for i in range(0,len(df6)):
    df6['USD변동%'][i]=df6['USD변동%'][i][:-1] # % 제거

In [341]:
df1['일자']=pd.to_datetime(df1['일자'],infer_datetime_format= True)
df2['일자']=pd.to_datetime(df2['일자'],infer_datetime_format= True)
df3['일자']=pd.to_datetime(df3['일자'],infer_datetime_format= True)
df4['일자']=pd.to_datetime(df4['일자'],infer_datetime_format= True)
df5['일자']=pd.to_datetime(df5['일자'],infer_datetime_format= True)
df6['일자']=pd.to_datetime(df6['일자'],infer_datetime_format= True)

In [354]:
DF1=pd.merge(df_kospi,df1,on = '일자',how='outer')
DF2=pd.merge(DF1,df2,on = '일자',how='outer')
DF3=pd.merge(DF2,df3,on = '일자',how='outer')
DF4=pd.merge(DF3,df4,on = '일자',how='outer')
DF5=pd.merge(DF4,df5,on = '일자',how='outer')
DF6=pd.merge(DF5,df6,on = '일자',how='outer')
DF6

,일자,등락률,종가 대비 시가,종가 대비 고가,종가 대비 저가,거래량,종가 대비 내일종가,등락,나스닥종가,나스닥거래량(M),...,니케이거래량(M),니케이변동%,KODEX200종가,KODEX200거래량(M),KODEX200변동%,TIGER200종가,TIGER200거래량(M),TIGER200변동%,USD종가,USD변동%
0,2019-06-28,-0.17,1.002084,1.004046,0.996879,537275.0,NaN,0.0,"8,006.24",1.76B,...,639.83,-0.29,27820,3.02,-0.25,27850,1.35,-0.11,1155.38,-0.14
1,2019-06-27,0.59,0.993633,1.003256,0.992457,644900.0,0.998266,0.0,"7,967.76",523.93M,...,632.28,1.19,27890,3.44,1.22,27880,1.44,1.22,1157.00,0.29
2,2019-06-26,0.01,0.999222,1.003016,0.997111,736852.0,1.005877,1.0,"7,909.97",537.92M,...,519.06,-0.51,27555,2.78,0.11,27545,1.4,0.05,1153.67,-0.13
3,2019-06-25,-0.22,1.001932,1.006881,0.996922,642999.0,1.000099,1.0,"7,884.72",547.78M,...,556.11,-0.43,27525,4.0,-0.15,27530,1.06,-0.15,1155.17,0.13
4,2019-06-24,0.03,1.001876,1.003833,0.998848,669640.0,0.997794,0.0,"8,005.70",528.18M,...,445.42,0.13,27565,2.5,0.16,27570,0.78072,0.18,1153.67,-0.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,2017-11-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33570,-,0.00,NaN,NaN,NaN,NaN,NaN
453,2017-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33625,-,0.00,NaN,NaN,NaN,NaN,NaN
454,2017-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33880,-,0.00,NaN,NaN,NaN,NaN,NaN
455,2018-08-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,29575,-,0.00,NaN,NaN
456,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1112.83,-0.13

In [ ]:
df1[df1.columns[1:]]=df1[df1.columns[1:]].astype('float')

In [356]:
DF6.to_csv("houseprice.csv", index = False)